@use "./colors" as colors;

.section {
  position: relative;
  width: 100%;
}

// -----------------------------------sidebar

.sidebar {
  background-color: #333;
  color: white;
  padding: 20px;
  height: auto; /* Dostosowuje się do zawartości na mobilnych urządzeniach */
}

.content {
  padding: 20px;
}

@media all and (min-width: 900px) {
  .sidebar__wrapper {
    display: flex;
  }
  .sidebar {
    width: 20%; /* Sidebar zajmuje 1/5 szerokości */
    height: 100vh; /* Sidebar zajmuje pełną wysokość ekranu */
    position: fixed; /* Sidebar jest przymocowany */
    top: 0;
    left: 0;
    top: calc(2rem + 60px);
  }
  .content {
    margin-left: 20%; /* Przesuwa treść w prawo, aby nie zachodziła na sidebar */
    width: 80%; /* Treść zajmuje pozostałe 4/5 szerokości */
    overflow-y: auto; /* Umożliwia przewijanie treści */
    height: 100vh; /* Ustawia pełną wysokość ekranu */
  }
}

.sidebar-accordion {
  &__box {
    font-size: 2rem;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    background-color: colors.$secondColor;
    text-transform: uppercase;
    transition: color 0.8s ease;
  }
  &__btn:hover,
  &__btn:focus {
    background-color: colors.$pink;
    color: white;
    outline: none;
  }

  &__text-box {
    margin-left: 10px;
    padding: 1rem 2rem;
    display: none;
    color: colors.$text;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;

    &__first {
      background-color: white;
      position: absolute;
      height: 5px;
      width: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s ease;
    }
    &__second {
      background-color: white;
      position: absolute;
      width: 5px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s ease;
    }
  }

  &__active {
    display: block;
  }
}

.rotate {
  transform: translate(-50%, -50%) rotate(90deg);
}

// ------------------oferta-----------------------
.blog {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__aside {
    width: 30%;
    background-color: #e5b66c;
    color: white;
    padding: 20px;
    // height: 100vh;

    &__title {
      font-size: 1.5rem;
      margin: 1rem;
      color: white;
    }
  }

  &__main {
    width: 70%;

    &__box {
      margin: 4rem 1rem;
      margin-left: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #e5b66c;
    }
    &__title {
      font-size: 2rem;
      margin: 1rem 0;
    }
    &__text {
      font-size: 1.5rem;
    }
  }
}

.arrow-btn {
  position: fixed;
  bottom: 0;
  // left: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 15px;
  background-color: #e5b66c;
  border: none;
  border-radius: 50%;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0px 4px 36px -11px black;
  z-index: 12000;
  font-size: 30px;

  i {
    color: black;
  }
}

// @media (min-width: 992px) {
// 	.phone-btn {
// 		display: none;
// 	}
// }
